.card-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap ;
  padding: 1rem 1.7rem;
  gap: 1rem;

}
.card-img{
  height: 250px;
  width: 250px;
  border-radius: 4rem;
  object-fit: cover ;
  
 
}
.card-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-rating{
  display: flex;
  align-items: center;
  gap: 0.3rem;
 
}
.placeinfo{
  display: flex;

}
.swiper-container {
  height: 270px;
  width: 270px;
  overflow: hidden;
}
.card-img {
  height: 270px;
  width: 270px;
  object-fit: cover;
  border-radius: 0.5rem;
}