.footerContainer{
    height: auto;
    width: 100%;
    background-color: rgba(24, 23, 23, 0.765);
    display: flex;
    flex-direction: row;
}

.countrydata{
    color: rgb(255, 255, 255);
    margin-left: 0rem;
    margin-top: 0.5rem;
    cursor: default;
   
    width: 75%;
    
}
.logo{
    margin-left: 0%;
    width: 27vw;
   
   

}
.footerBottom{
    background-color: #132b36fc;
    color: white; ; 
    color: white;
    text-align: center;
}
.cpr{
    
    display: block;
    background-color: #211d34;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    margin-top: 7rem;
    
    

};


   
    
    
    
    
