@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links{
  display: inline-block;
  position: relative;
}

.links:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0c7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* 
CSS CONTACT BUTTON */

a{
	position: relative;
	padding: 8px 17px;
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;

	letter-spacing: 2px;
	overflow: hidden;
	background: rgba(255,255,255,.1);
  border-radius: 60px;
	
}

a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 0%;
	background: rgba(255,255,255,.1);
}
a:after{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
	transition: 0.5s;
	transition-delay: 0.5s;
}
a:hover:after{
	left: 100%;
}
a span{
	position: absolute;
	display: block;
	transition: 0.5s ease;
}
a span:nth-child(1)
{
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #fff;
}
a:hover span:nth-child(1)
{
	width: 100%;
	transform: translateX(100%);
}
a span:nth-child(3)
{
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background: #fff;
}
a:hover span:nth-child(3)
{
	width: 100%;
	transform: translateX(-100%);
}
a span:nth-child(2)
{
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background: #fff;
}
a:hover span:nth-child(2)
{
	height: 100%;
	transform: translateY(100%);
}
a span:nth-child(4)
{
	bottom: 0;
	right: 0;
	width: 1px;
	height: 0;
	background: #fff;
}
a:hover span:nth-child(4)
{
	height: 100%;
	transform: translateY(-100%);
} 

.Typewriter{
	display: inline !important;
}

.text-type{
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.lmfb{
	background-color: rgba(240, 231, 231, 0.523) ;
	border-radius: 12px !important;
	font-size: 16px !important;
    margin: 13px !important;
	padding: 10px 18px !important;
	font-style: italic;
	color: black;
}
.lmfb:hover{
	color: white;
	background-color: black;
	border-style:groove;
	border-width: 1px;
	background-color: rgba(84, 82, 82, 0.062);

}
.lmfb:active{
	background-color: rgba(30, 27, 27, 0.422);
	
}

/* CSS MODELS */

.modelbg{
	position: absolute;
	top: 80px;
	height: 535px;
	background-color: rgba(28, 28, 28, 0.637);
	
}
.modelcontainer{
background-color: white;
height: auto;
width: 40%;
margin-left: 20%;
padding-left: 12px;
border-radius: 30px;
	
}
.modelbganyweek{
	position: absolute;
	top: 80px;
	height: 535px;
	background-color: rgba(28, 28, 28, 0.637);
	
}
.modelcontaineranyweek{
background-color: white;
height: auto;
width: 40%;
margin-left: 30%;
padding-left: 12px;
border-radius: 30px;
	
}
.modelbgAddGuest{
	position: absolute;
	top: 80px;
	height: 535px;
	background-color: rgba(28, 28, 28, 0.637);
	
}
.modelcontainerAddGuest{
background-color: white;
height: auto;
width: 40%;
margin-left: 45%;
padding-left: 12px;
border-radius: 30px;
	
}

.search_bar{
	right: 36%;
	padding:  10px 20px;
	border-radius: 50px;
	width: 30%;
}

